body {
	margin: 0;
	font-family: "Quicksand", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
	font-family: "Gowun Batang", serif;
	font-weight: unset;
}

code {
	font-family: "Quicksand", Helvetica, sans-serif;
}
